In [1]:
import tushare as ts

In [3]:
data = ts.get_hist_data('600848')

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
ndata = data.as_matrix()

In [8]:
import numpy as np

In [12]:
np.savetxt('./tmp/stock.csv', ndata, delimiter=',')

In [42]:
# np.array(data.index.data).size
# len(ndata)
ndata_withdate = np.concatenate((ndata, np.array(data.index.data).reshape(643,1)), axis=1)

643

In [45]:
# ndata[0]
# ndata_withdate[0]
np.savetxt('./tmp/stock-date.csv', ndata_withdate, delimiter=',',
           fmt=('%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%s'))

In [46]:
data.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-18,23.00,23.49,23.13,22.83,29610.00,0.12,0.52,23.478,22.877,23.617,62395.75,58694.09,60331.46,0.74